@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomolhari&display=swap');

.about-page{
    min-height: 100vh;
    width: 94vw;
    margin-left: 6.2vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color:#444444;
}
.slogan-top{
    color: #6c90a6;
    font-size: 24px;
    font-family: 'Jomolhari', serif;
    margin-top: 10vh;
    line-height: 0.1;
}
.slogan-bottom{
    color: #6c90a6;
    font-size: 46px;
    font-family: 'Jomolhari', serif;
}
.logo-image{
    width: 100px;
    height: auto;
    margin-top: 40px;
}
.about-subtitle{
    color: white;
    font-family: 'Afacad', sans-serif;
    font-size: 28px;
    margin-top: 40px;
}
.about-description{
    color: #b1b1b1;
    font-family: 'Afacad', sans-serif;
    font-size: 20px;
    text-align: justify;
    margin-left: 21vw;
    margin-right: 21vw;
}
.square-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 50px;
}
.square{
    width: 200px;
    height: 200px;
    background-color: #8a8a8a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Citation:
    - Figma word font link generated with GPT
    - Used Google search for forgotten syntax
*/