.all-buttons {
  position: fixed;
  bottom: 30px;
  display: flex;
  gap: 16px;
  left: 0;
  right: 0;
  margin: auto;
  width: max-content;
  z-index: 1000;
}

.all-buttons button {
  background: rgba(160, 160, 160, 0.8);
  color: rgb(255, 255, 255);
  border: 0.6px solid #000000;
  border-radius: 30px;
  width: 150px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Afacad', sans-serif;
}
.all-buttons button:hover {
  color: black;
  background: #e4e4e4;
}