.event-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 80vh;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    top: 75px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.event-list {
    flex: 1;
    width: 300px;
    height: 100%;
    padding: 20px; 
    border-radius: 0px;
    overflow-y: auto;
    /* position:relative; */
}

.chat-room-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 13px;
    background-color: #FFFFFF;
    overflow: hidden;      /* prevents chat from exceeding container */
}

.chat-placeholder{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    flex: 2;
    font-size: 36px;
    color:#6e98a3;
}
.chat-placeholder p{
    color: #6e98a3;
}
.container-divider {
  border-left: 1px solid rgb(206, 206, 206);
  height: 80vh;
  color:#6e98a3;
}