.event-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 80vh;
    margin: auto;
    margin-left: calc(50vw - 40% + 30px);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    top: 75px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.event-list {
    flex: 0 0 340px;
    height: 100%;
    padding: 12px 10px;
    border-radius: 0px;
    overflow-y: auto;
    overflow-x: auto;
    background-color: #FFFFFF;
    box-sizing: border-box;
}

.event-detail-panel {
    flex: 0 0 320px;
    height: 100%;
    padding: 12px 10px;
    background-color: #FFFFFF;
    overflow-y: auto;
    overflow-x: auto;
    box-sizing: border-box;
}

.chat-room-container {
    flex: 1.5 1 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-right: 10px;
    padding-left: 8px;
    padding-top: 13px;
    background-color: #FFFFFF;
    overflow: hidden;  
}

.chat-placeholder{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    flex: 2;
    font-size: 30px;
    color:#6e98a3;
}
.chat-placeholder p{
    color: #6e98a3;
}
.container-divider {
    border-left: 1px solid rgb(206, 206, 206);
    height: 80vh;
    color:#6e98a3;
    margin: 0;
}
.mobile-divider{
  display: none;
}

 @media (max-width: 768px) {
    .event-container {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 80vh;
        overflow: hidden;
        top: 70px;
        left: 0;
    }
    .event-list {
        width: 100%;
        height: auto;
    }
    .chat-room-container {
        width: 100%;
        height: 20vh;
    }
    .chat-placeholder{
        font-size: 15px;
        padding: 10px;
    }
    .mobile-divider {
        display: block;
        width: 100%;
        border: none;
        border-top: 1px solid rgb(206, 206, 206);
        margin: 0;
    }
    .container-divider {
        display: none;
    }
}
