@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomolhari&display=swap');

.help-page {
    background-color: #f3f7fa;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
}

/* left-right */
.help-content {
    width: 70%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    align-items: flex-start;
    margin-left: 40px;
}

/* left */
.help-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.help-left-title {
    font-family: 'Jomolhari', serif;
    font-size: 36px;
    color: #000000;
    margin-bottom: 20px;
}

/* sections */
.help-left-section {
    background-color: #e8f0f5; 
    border-left: 4px solid #3da7ee;
    padding: 15px 20px;
    border-radius: 10px;
    margin-top: 10px;
}

.help-left-desc {
    font-family: 'Afacad', sans-serif;
    font-size: 18px;
    color: #333;
    line-height: 1.6;
    margin: 0;
}

/* RIGHT SIDE */
.help-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* form */
.help-title {
    font-family: 'Jomolhari', serif;
    font-size: 42px;
    color: #000000;
    margin-bottom: 10px;
}

.help-desc {
    font-family: 'Afacad', sans-serif;
    font-size: 15px;
    color: #333;
    margin-bottom: 25px;
    text-align: center;
}

.help-form {
    background-color: #ffffff;
    width: 100%;
    max-width: 750px;
    padding: 35px;
    border-radius: 18px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* form input */
.input-box,
select.input-box {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    font-family: 'Afacad', sans-serif;
    border: 1px solid #c4c4c4;
    background-color: #fdfdfd;
    box-sizing: border-box; 
    appearance: none;
}

.textarea-box {
    height: 100px;
    resize: none;
}

/* button */
.form-button {
    align-self: flex-end;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #000000;
    color: white;
    font-size: 16px;
    font-family: 'Afacad', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: #2c4e63;
}

/* Mobile */
@media (max-width: 768px) {
    .help-page {
        width: 100%;
        margin-bottom: 8vh;
        padding-bottom: 5vh;
    }
    
    .help-content {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-left: 0;
        width: 100%;
    }

    .help-left {
        width: 90%;
        gap: 5px;
        align-items: center;
    }

    .help-left-title {
        text-align: center;
    }

    .help-left-section {
        width: 100%;
        box-sizing: border-box; 
    }

    .help-right {
        width: 80%;
        gap: 1px;
    }

    .help-form {
        width: 100%;
        padding: 20px;
    }
}