.incident-detail-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 260px;
    background-color: white;
}

/* HEADER */
.incident-detail-header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
}

.back-button {
    color: #2d454b;
    background: none;
    border: none;
    cursor: pointer;
}

/* image */
.incident-image {
    width: auto;
    height: 140px;
    padding-left:10px;
    padding-right:10px;
    object-fit: cover;
    border-radius: 20px;
}

.incident-title {
    margin: 0;
    font-size: 20px;
    flex: 1;
    overflow-y: auto;
}

/* Body */
.incident-detail-body {
    padding: 16px 0px 16px 16px;
    overflow-y: auto;
    line-height: 1.5;
}

/* Category Chips */
.incident-category {
    padding: 5px 10px;
    border-radius: 12px;
    font-weight: 500;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-bottom: 10px;
    background-color: #6e98a3;
    color:white;
}

