.info-window-content {
    max-width: 250px;
}

/* Title */
.info-window-content h3 {
    margin: 0 0 6px 0;
    font-size: 18px;
    font-weight: 800;
    color: #222;
    max-width: 250px;
}

/* Description */
.info-window-content p {
    margin: 0 0 10px 0;
    font-size: 12px;
    line-height: 1.4;
    color: #555;
}

/* Show in Map button */
.info-window-content .map-link {
    display: inline-block;
    padding: 6px 10px;
    background-color: #3d6caadb;
    color: white;
    text-decoration: none;
    font-size: 12px;
    border-radius: 6px;
    transition: all 0.2s ease;
}

.info-window-content .map-link:hover {
    background-color: #1654ab;
    transform: translateY(-1px);
}

.info-window-image{
    max-width: 100%;
    height: 300px;  
    width: auto;   
    display: block;
    margin: 8px 0;  
    object-fit: cover; 
    border-radius: 4px;
} 